{% extends '_base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}
<h1>Home Page</h1>
<hr>
<p>Hello, This web app is developed using Django Framework. Users can sign-up themself and it is totally free. They can add all their contacts and have it handy. Enjoy! We provide APIs also, so this can be integrated with any Frontend like React/Angular or Mobile apps!</p>
<p>Hurry up! </p>
    <p>Click <a href="{% url 'sign-up' %}" class="btn btn-warning">Sign Up!</a> now!</p>
{% endblock content %}