{% extends '_base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}
<h1>Home Page</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et error odio rem quo sunt eligendi nam totam quis omnis fugit aliquid voluptate at ratione ipsa voluptatibus, aspernatur quaerat corrupti culpa necessitatibus placeat nihil. Hic asperiores mollitia culpa iure ad autem voluptas, incidunt cupiditate quia qui corporis quis, voluptatum quam tenetur rem ipsa impedit magni pariatur quibusdam in vel, sint doloremque. Unde veniam deleniti autem, voluptate suscipit voluptatibus dolorem sapiente necessitatibus expedita quia ullam illo exercitationem veritatis maiores cumque quas nam. Sequi error omnis in ex molestiae incidunt doloremque, sed unde aliquid consequuntur! Vel nisi omnis pariatur quibusdam incidunt cumque?</p>
{% endblock content %}